<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/gamerlk_db?useSSL=false&amp;allowPublicKeyRetrieval=true</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">#Lucky2003sql</property>
        <property name="hibernate.show_sql">true</property>
        <mapping class="hibernate.User"/>
        <mapping class="hibernate.Status"/>
        <mapping class="hibernate.Admin"/>
        <mapping class="hibernate.Category"/>
        <mapping class="hibernate.Developer"/>
        <mapping class="hibernate.Mode"/>
        <mapping class="hibernate.Requirement"/>
        <mapping class="hibernate.Product"/>
        <mapping class="hibernate.Cart"/>
        <mapping class="hibernate.Wishlist"/>
        <mapping class="hibernate.Subscriber"/>
        <mapping class="hibernate.Inquiry"/>
        <mapping class="hibernate.Orders"/>
        <mapping class="hibernate.OrderItem"/>
    </session-factory>
</hibernate-configuration>
